<footer>
    <h2>&copy; Kaka's Nails</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="#">Cart</a></li> -->
            <% if(user) { %>
                <li><a href="/">Welcome, <%= user?.name %></a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/new">Signup</a></li>
            <% } %>   
        </ul>
    </nav>
</footer>
