<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Kaka\'s Nails`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Hobby World is an online store dedicated to providing quality product for customers of all ages and interests.</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>Do you have a hobby?</p>
            <p>If you do, you've come to the right place! And if you don't, you've also come to the right place!!</p>
            <p>Here at Hobby World you can find your passion, and if you're new to all this, you can chat with one of our customer support reps and they'll happily help you out. We have a wide variety of items and are constantly expanding our inventory. Here are some of the categories you can explore!</h2>
            <ul>
                <li>Collectible Cards</li>
                <li>Figures</li>
                <li>Gundam Kits</li>
                <li>Books</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
