<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Kaka\'s Nails`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <a href="/products" class="btn">Shop Now!</a>
        </section>

        <section class="content">
            <h2>Welcome to Kaka's Nails!</h2>
            <p>Do you like nails?</p>
            <p>If you do, you've come to the right place! And if you don't, you've also come to the right place!!</p>
            <p>Kaka's Nails is an online store dedicated to providing quality product for customers of all ages and interests. Here at Kaka's nails you can find your own unique style. We have a wide variety of items and are constantly expanding our inventory. Here are some of the categories you can explore!</p>
            <ul>
                <li>Nails</li>
                <li>Keychains</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
