<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Login | Kaka\'s Nails'}) %>
    <link rel="stylesheet" href="/styles/product-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Log In</h2>
        <h4><i>Access your account</i></h4>
    </section>

    <form method="POST" action="/users/login">
        <!-- Email input -->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <!-- Password input -->
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
        <br>
        
        <input class="btn" type="submit" value="Log In">
        <button class="btn"><a href="/users/new">Sign Up</a></button>
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
