<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add a User | Kaka\'s Nails'}) %>
    <link rel="stylesheet" href="/styles/product-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Sign Up</h2>
        <h4><i>Create an account</i></h4>
    </section>

    <form method="POST" action="/users">
        <!-- Name input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <!-- Email input -->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <!-- Password input -->
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
        <br>
        
        <input type="submit" value="Sign Up">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
