/* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    scrollbar-color: #333;
    scrollbar-width: 10px;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* background-color: #f7f7f7; */
    background: linear-gradient(90deg, #eea7a7 0%, #f1dbb1 50%, #eea7a7 100%);
    /* background: linear-gradient(90deg, #6acaba 0%, #f1dbb1 50%, #6acaba 100%); */
    min-height: 100vh;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 0;
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 0 0 0;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
    margin: 0 0 0 0;
}

.icon {
    max-height: 5vh;
    border-radius: 60px;
    margin: 0 0 0 0;
}

/* Hero section styles */
.hero, .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.hero {
    height: 23vh;
}

.hero2 {
    height: 17vh;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero h3, .hero2 h2 {
    font-size: 2rem;
    text-align: center;
}

.hero h4, .hero2 h3 {
    font-size: 1.5rem;
    text-align: center;
}

.hero h2:before {
    content: "✨ ";
    margin-right: 5px;
}

.hero h2:after {
    content: " ✨";
    margin-right: 5px;
}

/* button styling */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #e0b8b8;
    background: linear-gradient(45deg, #b150b1 0%, #69b0da 50%, #39ce77 100%);
    color:rgb(228, 228, 228);
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b49393;
    background: linear-gradient(45deg, #833c83 0%, #4e85a5 50%, #2c9c5b 100%);
}

#roundbtn {
    border-radius: 60px;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
}

footer * {
    color:#333;
}